.orderItems{
    border:2px solid darkgray;
}
.total{
    border:2px solid darkgray;
    height:250px;
}
label {
    display: inline-block;
  
}
.form-control {
    display: inline-block;
    width: 88%;
}
#cart-items{
    border: 4px solid  rgb(192, 179, 60);
}
.cart-img{
height:80px;
width:80px;
}
.cart-name{
    color:#233b51;
    font-weight:bold;
    letter-spacing: 0.5px;
    font-size: large;
    margin-bottom: 0rem;
}
.cart-price{
    padding: 0.5rem 0rem;
}
.qty{
    width:40px;
}
.my-btn{
    padding: 0.7rem 1rem;
    border-radius: 0;
  }
  
