#details-container{
    background:#f9f2ea;
}
.detail-img{
    height:450px;
}
#authentic{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #a37f4b;
}
.add-btn{
    padding: 0.7rem 2rem;
    border-radius: 0;
    width:50%;
    display: inline-block;
}
.alert{
    display: none;
    position: fixed;
    top: 0;
    right: 0; 
    z-index: 1000;
}